[settings]
line_length=180
#force_to_top=file1.py,file2.py
#skip=file3.py,file4.py
#known_future_library=future,pies
#known_standard_library=std,std2
known_third_party=openpyxl,sqlalchemy,flask,kafka,pyspark,hyperopt,patsy,joblib,ConfigSpace,docopt,certifi,numpy,packaging,grpcio-tools,wheel,setuptools,redis,imbalanced-learn,xgboost,sphinxcontrib-websupport,grpcio,Cython,scikit-learn,chardet,protobuf,ujson,alabaster,typing,future,idna,kazoo,networkx,pip,hdfs,Pygments,snowballstemmer,redis-py-cluster,tornado,python-gflags,pyrfr,pymongo,pandas,urllib3,Pillow,python-dateutil,pytz,Sphinx,MarkupSafe,psutil,requests,sphinx-rtd-theme,scipy,smac,imagesize,Werkzeug,six,docutils,isort,Jinja2,tensorflow,pyparsing,statsmodels,Babel,nose,decorator,pynisher,gflags,sklearn,google,grpc,minepy,matplotlib,pylab,PIL,imblearn,httplib2,dateutil
#known_first_party=mylib1,mylib2
indent='    '
#multi_line_output=3
length_sort=False
#forced_separate=django.contrib,django.utils
force_single_line=True
#default_section=FIRSTPARTY
#no_lines_before=LOCALFOLDER

